/* components/ProfileCard.css */
.ProfileCard {
    border: 10px solid #18c588;
    padding: 16px;
    margin: 16px;
    border-radius: 20px;
    text-align: center;
}

.profile-avatar {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

.ProfileCard h1 {
    margin: 16px 0 8px;
    color: blue;
}

.ProfileCard p {
    margin: 1px 0;
    color: rgb(255, 80, 83);
    font-size: 40px;
}
